// houser owner login css
.house-owner-login-wrapper{
    margin: 0px 80px 80px 80px;
    background: $website-white-light;
    .owner-login-inner{
        .owner-logo-section{
            img{
                height: 100%;
                margin-bottom: 60px;
            }
        }
        margin-top: 100px;
        margin-bottom: 80px;
        min-height: 800px;
        background: #ffffff;
        padding: 60px;
    }
}

.btn-login{
    background: $website-blue !important;
    color: #ffffff !important;
    border: none !important;
    min-width: 120px;
    min-height: 50px;
    &:hover{
        // background: red !important;
        background: darken($website-blue, 20%) !important;
        cursor: pointer;
    }
}
.login-btn-wrapper{
    text-align: right;
}

.el-form-item{
    margin-bottom: 30px !important;
}